<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div *ngFor="let toy of carouselToys; let first = first" 
         class="carousel-item" 
         [class.active]="first"
         [attr.data-bs-interval]="2000">
      <div class="card text-center border">
        <div class="row">
          <div class="col-md-3 bg-light"><!-- Colonne à gauche (blanc) --></div>
          <div class="col-md-3">
            <img [src]="toy.picturePath" class="card-img-top w-100" alt="{{toy.name}}">
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">Nom du Toyz : {{toy.name}}</h5>
              <p class="card-text">Categories : {{toy.categories}}</p>
              <p class="card-text">Description : {{toy.description}}</p>
              <p class="card-text">Cotation : {{toy.cotation}}</p>
              <p class="card-text">Quantite : {{toy.quantite}}</p>
            </div>
          </div>
          <div class="col-md-3 bg-light"><!-- Colonne à droite (blanc) --></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contrôles de navigation -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
