<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/upload/LogoDetourer.PNG" alt="FreeToyz Logo" width="45" />
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link btn btn-sm btn-outline-primary me-2 custom-link" aria-current="page" routerLink="/how-it-work">How It Works ?!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-sm btn-outline-primary me-2 custom-link" routerLink="/toys">Toys</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <a routerLink="/user-profil" class="nav-link btn btn-sm btn-outline-primary me-2">
          {{ getUserName() }}
        </a>
        <ng-container *ngIf="!isLoggedIn(); else loggedInTemplate">
          <!-- Boutons pour les utilisateurs non connectés -->
          <a routerLink="/register" class="nav-link btn btn-sm btn-outline-primary me-2">Register</a>
          <a routerLink="/login" class="nav-link btn btn-sm btn-outline-primary">Login</a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
          <!-- Contenu spécifique aux utilisateurs connectés -->
          <a (click)="logout()" class="nav-link btn btn-sm btn-outline-primary">Logout</a>
          <!-- Ajoutez d'autres liens ou fonctionnalités ici -->
        </ng-container>
      </form>
    </div>
  </div>
</nav>
       