<<div class="container user-profile-container">

  <h3 class="mt-4">User Profile</h3>

  <div class="profile-info row mt-4">
    <div class="col-md-4">
      <img src="assets/upload/LogoDetourer.PNG" alt="User Avatar" class="img-fluid rounded-circle avatar">
    </div>
    <div class="col-md-8">
      <div class="user-details">
        <h4>{{ user.username }}</h4>
        <p>Email: {{ user.email }}</p>
        <p>Location: {{ user.location }}</p>
        <p>Telephone: {{ user.telephone }}</p>
        <p>Description: {{ user.description }}</p>
        <p>Profil picture: {{ user.profil_picture }}</p>
        <p>Adresse : {{ user.adresse }}</p>
        <!-- Add more user information as needed -->
      </div>
    </div>
  </div>

  <a routerLink="/user-profil-edit" class="btn btn-sm btn-primary mt-4">Edit</a>

</div>



