<h3 class="mt-3">How It Works ?!</h3>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">    
    </div>
  </div>
  <div class="row">
    <div class="col-12 how-it-works">
      <div class="SignUp">
        <h5>1. Create your profile to join the FreeToyz User Community!</h5>
        <app-registration></app-registration>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 Explore">
      <h3>2. Explore and LIKE a variety of available toys or add your own!</h3>
      <app-navbar-search-toy></app-navbar-search-toy>
      <app-carousel></app-carousel>
    </div>
  </div>

  <div class="row">
    <div class="col-12 Connect">
      <h3>3. Connect with FreeToyz User Message to kickstart the toy exchange!</h3>
      <p>
        "Our internal messaging system is a thoughtful extension of our commitment
        to facilitating toy exchanges, providing an integrated, secure, and
        intuitive communication platform. Exchange messages with confidence,
        connect with fellow enthusiasts, and ensure that each toy transition is a
        pleasant and hassle-free experience."
      </p>
      <app-chat></app-chat>
    </div>
  </div>
</div>







  
