
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown"> 
          <a class="nav-link" routerLink="/">Outdoor</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/">Indoor</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/">Electronique</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/">Collection</a>
        </li>
      </ul>
      <form #searchForm="ngForm" class="d-flex" role="search" (ngSubmit)="send(searchForm)">
        <input class="form-control me-2" type="search" placeholder="Search" ngModel name="search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>