<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav flex-grow-1">
        <a class="nav-link" routerLink="/">Construction</a>
        <a class="nav-link" routerLink="/">Société</a>
        <a class="nav-link" routerLink="/">Musicaux & Artistique</a>
        <a class="nav-link" routerLink="/">Plein Air & Sport</a>
        <a class="nav-link" routerLink="/">Electronique</a>
        <a class="nav-link" routerLink="/">Collection</a>
      </div>
      <div class="search-container ms-lg-4 d-flex">
        <input type="text" class="form-control me-2" placeholder="Search toy or catégorie">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</nav>