<!-- toys.component.html -->
<section class="toys container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Explore Our Toy Collection</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-navbar-search-toy (toyzsBycategory) = "showToyzBySearch($event)"></app-navbar-search-toy>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-carousel-accueil></app-carousel-accueil>
    </div>
  </div>


    <!-- Ajout du formulaire -->
    <div class="col-12 mt-3">
    
    <a routerLink="/toy-form" class="btn btn-sm btn-primary mt-4">Soumettre un Toyz</a>
    </div>
</section>